<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/cb6bb65c-9c2a-47d2-ba46-b38a535d81b6/resourcegroups/appsvc_rg_linux_centralus/providers/Microsoft.Web/sites/PolarExpress-test</ResourceId>
    <ResourceGroup>appsvc_rg_linux_centralus</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://polarexpress-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://polarexpress-test.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>98fde01e-65d1-4575-a19c-a65d2d24acb7</ProjectGuid>
    <MSDeployServiceURL>waws-prod-ch1-043.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PolarExpress-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PolarExpress-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>