@page "/"
@using PolarExpress3.Utils;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Caching.Memory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IGiftRegistry GiftRegistry
@inject IMemoryCache MemoryCache

<h3>Let's Get Started!</h3>

<h4>Not signed up yet? Create an account <a href="identity/account/register">Here!</a></h4>
<h4>Or log in <a href="identity/account/Logon">Here</a></h4>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (await AuthenticationStateProvider.IsLoggedInAsync())
        {            
            if (await GiftRegistry.HasFamily(await AuthenticationStateProvider.GetUserNameAsync()))
                NavigationManager.NavigateTo("member/gifts");
            else
                NavigationManager.NavigateTo("member/newfamily");
        }       
    }
}